.clients-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
}

.clients-title {
  margin-top: 20px;
}

.search-container {
  margin-top: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
}

.clients-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Горизонтальный и вертикальный отступы */
  margin-top: 40px;
  font-size: 24px;
}

.clients-table th,
.clients-table td {
  padding: 12px;
}

.clients-table th {
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  text-align: center; /* Выравнивание по центру */
  color: #505050;
  font-weight: 400;
}

.clients-table tr:hover td {
  background-color: #fff;
}

.clients-table thead button{
  background-color: rgba(0, 0, 0, 0);
  color: #5A57FF;
  font-weight: 700;
  transition: background-color 0.5s ease, color 0.3s ease;
  border: none;
}

.clients-table thead button:hover{
  background-color: #5A57FF;
  color: #fff;
}

.clients-table tbody tr{
  background-color: #fff;
}

.clients-table tbody tr button{
  background-color: rgba(0, 0, 0, 0);
  color: #505050;
  transition: background-color 0.5s ease, color 0.3s ease;
  border: none;
}

.clients-table tbody tr button:hover{
  color: #5A57FF;
  border-color: rgba(0, 0, 0, 0);
}

.error {
  color: red;
  margin-top: 10px;
}
