.orders-page {
  width: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
  margin-top: 40px;
}

.orders-title {
  margin-top: 20px;
}

.search-container {
  margin-top: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
}

.orders-table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Горизонтальный и вертикальный отступы */
}

.orders-table th,
.orders-table td {
  padding: 12px;
}

.orders-table th {
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  text-align: center; /* Выравнивание по центру */
  color: #505050;
  font-weight: 400;
}

.orders-table th:nth-child(5) {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}


.orders-table tr:hover td {
  background-color: #fff;
}

.orders-table thead button{
  background-color: rgba(0, 0, 0, 0);
  color: #5A57FF;
  font-weight: 700;
  transition: background-color 0.5s ease, color 0.3s ease;
  border: none;
}

.orders-table thead button:hover{
  background-color: #5A57FF;
  color: #fff;
}

.orders-table tbody tr{
  background-color: #fff;
}

.orders-table tbody tr button{
  background-color: rgba(0, 0, 0, 0);
  color: #505050;
  transition: background-color 0.5s ease, color 0.3s ease;
  border: none;
}

.orders-table tbody tr button:hover{
  color: #5A57FF;
  border-color: rgba(0, 0, 0, 0);
}


.modal-wrapper {
  color:#1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-wrapper .modal {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  overflow: auto;
  max-height: 90vh;
  font-size: 24px;
  font-weight: 400;
  color: #222020;
}

.modal h2{
  font-size: 24px;
}

.modal h2 span{
  color: #5A57FF;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #5A57FF;
  border-radius: 20px;
  background-color: #fff;
}

.pagination button {
  padding: 0 5px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

.pagination button:first-child{
  border-radius: 20px 0 0 20px;
}

.pagination button:last-child{
  border-radius: 0 20px 20px 0;
}

.pagination select{
  padding: 0 5px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #5A57FF;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.order-product-table {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.order-product-table th, .order-product-table td {
  text-align: center;
  color: #505050;
  font-size: 24px;
  font-weight: 300;
}

.order-product-table th {
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #505050;
  font-weight: 400;
  font-size: 20px;
}

.order-product-table td{
  color: #000;
}

.order-product-table thead th:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.order-product-table tbody tr td {
  background-color: #E5E5FE;
}



.order-product-table tbody tr:hover td {
  background-color: #d9b3ff;
}

.order-product-table tbody button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.order-product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Это обеспечит контейнеру высоту строки таблицы */
}

.order-product-image-container  .order-product-image {
  width: 100px;
  height: 100px;
  object-fit: cover; /* Это обеспечит правильное масштабирование изображения */
}


.order-product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.information-client{
  display: flex;
  justify-content: space-between;
  color: #222020;
}

.information-client span{
  color: #5A57FF;
}

.information-client .valuta{
  font-weight: 300;
  color: #505050;
}

.information-client-selector{
  text-align: left;
}

.information-client .personal-info-client span{
  font-weight: 300;
  color: #222020;
  white-space: nowrap;
}

.comment-section {
  margin-top: 20px;
}

.comment-label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  font-weight: 400;
}

.comment-content {
  font-weight: 300;
  text-align: left;
  border: 1px dashed #ccc;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: pre-wrap; /* сохраняет переносы строк */
  color: #000000;
}

#order-status{
  font-size: 24px;
  background-color: #fff;
  color: #222020;
}
