.orders-page {
  width: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
  margin-top: 40px;
}

.orders-title {
  margin-top: 20px;
}

.search-container {
  margin-top: 20px;
}

.search-input {
  width: 200px;
  padding: 10px;
}

.orders-table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Горизонтальный и вертикальный отступы */
}

.orders-table th,
.orders-table td {
  padding: 12px;
}

.orders-table th {
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  text-align: center; /* Выравнивание по центру */
  color: #505050;
  font-weight: 400;
}

.orders-table th:nth-child(5) {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}


.orders-table tr:hover td {
  background-color: #fff;
}

.orders-table thead button{
  background-color: rgba(0, 0, 0, 0);
  color: #5A57FF;
  font-weight: 700;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.orders-table thead button:hover{
  background-color: #5A57FF;
  color: #fff;
}

.orders-table tbody tr{
  background-color: #fff;
}

.orders-table tbody tr button{
  background-color: rgba(0, 0, 0, 0);
  color: #505050;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.orders-table tbody tr button:hover{
  color: #5A57FF;
  border-color: rgba(0, 0, 0, 0);
}


.modal-wrapper {
  color:#1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #5A57FF;
  border-radius: 20px;
  background-color: #fff;
}

.pagination button {
  padding: 0 5px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

.pagination button:first-child{
  border-radius: 20px 0 0 20px;
}

.pagination button:last-child{
  border-radius: 0 20px 20px 0;
}

.pagination select{
  padding: 0 5px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #5A57FF;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
