.personal-dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  color: #10101E;
  overflow-x: hidden;
}

.top-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.dashboard-section {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 300px;
}

.personal-info {
  display: flex;
  flex-direction: row;
  gap: 40px; /* Increase the gap between columns */
  font-size: 1.053em; /* Increase the font size */
  text-align: start;
  font-weight: 500;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
  font-size: 1.2em;
}

.profile-header .edit-button {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-header .edit-button img {
  width: 2vw;
  height: 4vh;
}

.profile-header h3 {
  margin: 0;
  font-size: 1em; /* Increase the font size */
}

.profile-photo {
  width: 14vw;
  height: 28vh;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1em;
}

.personal-info {
  display: flex;
  flex-direction: row;
  gap: 40px; /* This property is redundant here if it is already defined above */
}


.messengers {
  display: flex;
  align-items: center;
  gap: 10px;
}

.messengers span {
  font-weight: bold;
}

.messengers img {
  width: 24px;
  height: 24px;
}

.message-sender {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chart-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edit-profile-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  font-size: 1.2em; /* Увеличенный текст в режиме редактирования */
}

.photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload-label {
  width: 100%;
  text-align: center;
}

.image-upload-container {
  width: 14vw;
  height: 28vh;
  border: 2px dashed #007bff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

.image-upload-container input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.image-upload-container span {
  text-align: center;
  font-size: 1em;
  color: #007bff;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Увеличенный отступ */
}

.info-section > div {
  display: flex;
  gap: 60px; /* Увеличенный отступ */
}

.info-section label {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.2em; /* Увеличенный текст в режиме редактирования */
}

.personal-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid black; /* Черная подчеркивающая линия */
  background-color: white; /* Белый цвет фона */
  color: #10101E;
  font-size: 1em;
  caret-color: #0056b3;
}

.personal-input::placeholder {
  color: #777;
}

/* Стили для инпута при автозаполнении */
.personal-input:-webkit-autofill,
.personal-input:-webkit-autofill:hover, 
.personal-input:-webkit-autofill:focus, 
.personal-input:-webkit-autofill:active {
    -webkit-text-fill-color: #10101E; /* Цвет текста при автозаполнении */
    font-size: 1em; /* Размер текста */
    transition: background-color 5000s ease-in-out 0s; /* Задержка для анимации фона */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.edit-profile-form button {
  width: 100%;
  padding: 15px; /* Увеличенный padding */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em; /* Увеличенный текст */
}

.edit-profile-form button:hover {
  background-color: #0056b3;
}

