.product-list-container {
  width: 100%;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
}

.search-container {
  margin-top: 80px !important;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-container div{
  width: 80%;
  text-align: left;
  margin-left: 5%;
}


.search-container button{
  background-color: #fff;
  color: #5A57FF;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border: 1px #505050;
  border-radius: 10px 10px 0 0;
}

.search-container .product-details-button{
  background-color: rgba(0, 0, 0, 0);
  color: #505050;
  font-weight: 400;
  border-radius: none;
  border-style: solid solid none solid;
}

.search-container .product-details-button:hover{
  color: #5A57FF;
}

.search-container .product-details-button:focus{
  color: #5A57FF;
  border-color: #5A57FF;
}

.search-input {
  margin: auto 0;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 20px;
  color: #505050;
}

.product-table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 0 10px;
  background-color: #fff;
  border-radius: 15px;
}

.product-table th, .product-table td {
  padding: 12px;
  text-align: center;
}



.product-table th {
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  color: #505050;
  font-weight: 400;
}

.product-table thead th:last-child{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product-table th:nth-child(5) {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.product-table tbody tr td {
  background-color: #E5E5FE;
}

.product-table tbody tr td:last-child{
  border-right: 40px solid #fff;
}

.product-table tbody tr td:first-child{
  border-left: 40px solid #fff;
}

.product-table tbody tr:hover td {
  background-color: #d9b3ff;
}

.product-table tbody button{
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.product-table tbody button img{
  width: 45px;
  height: 45px;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  border: 1px solid #5A57FF;
  border-radius: 20px;
  background-color: #fff;
}

.pagination button {
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.pagination button:first-child {
  border-radius: 20px 0 0 20px;
}

.pagination button:last-child {
  border-radius: 0 20px 20px 0;
}

.pagination select {
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: #fff;
  color: #5A57FF;
}

.pagination button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  overflow: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-product-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.add-product-form h3 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.image-upload-area {
  border: 1px dashed #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
}

.image-upload-area input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.uploaded-images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.uploaded-image {
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}

.uploaded-image img {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.uploaded-image span {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.form-group label{
  font-size: 24px;
}
.form-group input{
  background-color: #fff;
  color: #505050;
  font-size: 24px;
}
